body {
  background-color: black;
  color: hsl(150, 50%, 100%);
  /*font-family: "Lucida Handwriting", cursive;*/
  font-family: "Brush Script MT", cursive;
  font-size: 2rem;
}

.top {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  justify-content: center;
  gap: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  justify-content: center;
  gap: 5px;
  white-space: pre;
}
