:root {
    --dayTime: true;
    --dayDuration: 120s;
    --moon1_duration: 4s;
    --moon2_duration: 8s;
    --moon3_duration: 16s;
    --moon4_duration: 32s;
}

@font-face {
    font-family: 'FetteNationalFraktur';
    src:url('webfonts_FetteNationalFraktur/FetteNationalFraktur.ttf.woff') format('woff'),
        url('webfonts_FetteNationalFraktur/FetteNationalFraktur.ttf.svg#FetteNationalFraktur') format('svg'),
        url('webfonts_FetteNationalFraktur/FetteNationalFraktur.ttf.eot'),
        url('webfonts_FetteNationalFraktur/FetteNationalFraktur.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: "FetteNationalFraktur";
    font-size: 1.8rem;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

td {
    font-family: "Times New Roman";
}

.container,
.text-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    justify-content: center;
    gap: 5px;
}

.text-container {
    white-space: pre;
}

.cool-site-container {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    justify-content: center;
    gap: 5px;
}

.main-grid {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    overflow: auto;

    display: grid;
    grid-template-areas:
        "top top top"
        "sidebar main sidebar-2"
        "bottom bottom bottom";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 5px;
    padding: 5px;
}

.main-grid .top {
    grid-area: top;
}

.main-grid .sidebar {
    grid-area: sidebar;
}

.main-grid .main {
    grid-area: main;
}

.main-grid .sidebar-2 {
    grid-area: sidebar-2;
}

.main-grid .bottom {
    grid-area: bottom;
}

.parallax {
    width: 100%;
    height: 100%;
    background: url("moon_bg.png");
    background-size: cover;
    background-position: center; 
    image-rendering: pixelated;
}

.parallax .layer {
    position: absolute;
    width: 400%;
}

.parallax .moon1 {
    height: 26%;                     
    bottom: 0%;
    background: url("moon_1.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow var(--moon1_duration) linear infinite;
}

.parallax .moon2 {
    height: 39%;                     
    bottom: 0%;
    background: url("moon_2.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow var(--moon2_duration) linear infinite;
}

.parallax .moon3 {
    height: 49%;                     
    bottom: 0%;
    background :url("moon_3.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow var(--moon3_duration) linear infinite;
}

.parallax .moon4 {
    height: 63%;                     
    bottom: 0%;
    background: url("moon_4.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow var(--moon4_duration) linear infinite;
}

@keyframes slideshow {
    0%    { transform: translateX(0%); }
    100%  { transform: translateX(-50%); }
}

@keyframes dayToNight {
    0% { 
        -webkit-filter: hue-rotate(0deg) brightness(1); 
        filter: hue-rotate(0deg) brightness(1); 
    }
    50% { 
        -webkit-filter: hue-rotate(180deg) brightness(0.1); 
        filter: hue-rotate(180deg) brightness(0.1); 
    }
    100% { 
        -webkit-filter: hue-rotate(0deg) brightness(1); 
        filter: hue-rotate(0deg) brightness(1); 
    }
}

.img-url{
    text-decoration: none;
}

.url{
    opacity: 0.5;
    text-decoration: none;
}

.url-highlighted{
    opacity: 1;
    text-decoration: none;
}

.url-normal{
    opacity: 0.5;
    text-decoration: none;
}
